* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.lead {
  font-size: 1.4rem;
}

.form-control {
  font-size: 1.3rem;
}

.alert {
  font-size: 1.3rem;
}

.div-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}
